{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    MedPlan
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'login' %}" id="home_links" class="btn btn-danger btn active">Login</a>
    <a href="{% url 'register' %}" id="home_links" class="btn btn-dark btn active">Register</a>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'core/js/home.js' %}"></script>
{% endblock %}